<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Article List" %}</title>
</head>
<body>
    <h1>{% trans "Article List" %}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="/i18n/setlang/?next=/&language=en"><img src="{% static 'images/flags/en.jpg' %}" alt="English"></a>
    <a href="/i18n/setlang/?next=/&language=fr"><img src="{% static 'images/flags/fr.jpg' %}" alt="Français"></a>
</body>
</html>
